{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["simple-import-sort", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "simple-import-sort/imports": 2,
    "simple-import-sort/exports": 2,
    "prettier/prettier": 2
  }
}
